/* ------------------------------------------------
   BASE STYLES
------------------------------------------------ */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
:root {
    --accent-dark: #12947f;
    --base-dark: #1F2326;
    --alt-light: #FAFAFA;
    --foreground-primary: var(--base-dark);
    --background-primary: var(--alt-light);
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    background: var(--background-primary);
    color: var(--foreground-primary);
    font-size: 18px;
    line-height: 1.8;
}
main,
header,
footer {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
#swup {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}

/* ------------------------------------------------
   HELPERS
------------------------------------------------ */
.hidden {
    display: none;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 20px;
}
.transition-fade {
    transition: 0.4s;
    opacity: 1;
}
html.is-animating .transition-fade {
    opacity: 0;
}

/* ------------------------------------------------
   TYPOGRAPHY
------------------------------------------------ */
::-moz-selection {
    background-color: var(--accent-dark);
    color: var(--alt-light);
}
::selection {
    background-color: var(--accent-dark);
    color: var(--alt-light);
}
h2 {
    margin-bottom: 0;
    margin-top: 50px;
}
a {
    color: var(--accent-dark);
}
p {
    margin-top: 0;
    margin-bottom: 20px;
}
ul {
    margin-top: 0;
}

/* ------------------------------------------------
   HEADER
------------------------------------------------ */
header {
    margin-bottom: 50px;
    padding-top: 20px;
}
header .grid {
    border-bottom: 1px solid var(--foreground-primary);
}
header h1,
header p {
    display: block;
    margin: 0;
}
header h1 a {
    text-decoration: none;
    color: var(--foreground-primary);
}
header h1 a:hover,
header h1 a:focus,
header h1 a:active {
    color: var(--accent-dark);
}
header h3 {
    font-size: 18px;
    color: #777;
    font-style: italic;
    margin: 0;
    font-weight: normal;
}
header p {
    text-align: right;
}
header .fa-heart {
    color: red;
}


/* ------------------------------------------------
   ABOUT
------------------------------------------------ */
.about h2,
.about p {
    margin: 0;
}
.hero {
    width: 80%;
    margin: 0 auto;
    display: block;
}

/* ------------------------------------------------
   SETUP GUIDE
------------------------------------------------ */
.get-started h4 {
    margin-bottom: 0;
}
input {
    background: var(--background-primary);
    border: 1px solid var(--foreground-primary);
    color: var(--foreground-primary);
    padding: 8px;
    margin-top: 8px;
    font-size: 18px;
    width: 100%;
}
.btn {
    background: var(--foreground-primary);
    color: var(--background-primary);
    border: 0;
    padding: 10px 24px 8px 24px;
    outline: 0;
    border-radius: 3px;
    cursor: pointer;
}
.btn:hover,
.btn:active,
.btn:focus {
    filter: brightness(1.8)
}
.btn .icon {
    margin-right: 6px;
}
#jsOnly {
    display: none;
}
#clipboardsuccess {
    color: var(--accent-dark);
    padding-left: 15px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms ease-out;
}
#clipboardsuccess.shown {
    opacity: 1;
}

/* ------------------------------------------------
   FAQ
------------------------------------------------ */
.faq h4 {
    margin-bottom: 0;
}

/* ------------------------------------------------
   FOOTER
------------------------------------------------ */
footer {
    flex-shrink: 0;
    padding-bottom: 20px;
    margin-top: 50px;
}
footer .grid {
    padding-top: 20px;
    border-top: 1px solid var(--foreground-primary);
}
footer .github {
    text-align: right;
    font-size: 24px;
}
footer .github a {
    color: var(--foreground-primary);
}
footer .github a:hover,
footer .github a:focus,
footer .github a:active {
    color: var(--accent-dark);
}

/* ------------------------------------------------
   RESPONSIVITY
------------------------------------------------ */
@media screen and (max-width: 500px) {
    .grid {
        display: block;
    }
    header,
    header p,
    footer,
    footer .github {
        text-align: center;
    }
    .hero {
        margin-top: 30px;
    }
    header p {
        margin-bottom: 10px;
    }
}